.App {
  text-align: center;
}

#root {
  text-align: center;
}

.btn {
  font-style: italic;
  font-size: 16px;
  padding: 10px 15px;
  border-radius: 5px;
  background-color: greenyellow;
  border: 2px solid green;
  margin: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.numbers {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}

.number {
  width: 50px;
  height: 50px;
  border: 1px solid greenyellow;
  border-radius: 50%;
  margin: 5px;
  color: green;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}